<section>
  <h1>All Rooms </h1>
  {{#each rooms}}
  <article>
    <h2>{{name}}</h2>
    <p>{{description}}</p>

    <figure>
      <img src="{{imageUrl}}" alt="room-image">
    </figure>

    <br>

    <a href="/rooms/{{id}}">See Details</a>

    {{#if isOwner}}
    <a href="/rooms/{{id}}/edit">Edit Room</a>
    <form action="/rooms/{{id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    {{/if}}


    {{#if reviews}}
    <div>
      <h3>All reviews for this room</h3>
      <ul>
        {{#each reviews}}
        <li>
          <div>
            <p>{{this.review}}</p>
            <p>Written by: <strong>{{this.user.fullName}}</strong></p>
          </div>
        </li>
        {{/each}}
      </ul>
      <hr>
    </div>
    {{else}}
    <h3>There are no reviews for this room yet!</h3>
    {{/if}}

  </article>
  {{/each}}
</section>